# express-kernel specific
*.o
.*.o.cmd
*.order
*.builtin
vmlinux
*.cmd
.*~
.*swp
*.ko
.tmp*
common/arch/arm/include/generated
smd_rpc_sym.c
*.lds
piggy.lzo
piggy.gzip
common/usr/gen_init_cpio
*.cpio
common/net/wireless/regdb.c
common/drivers/tty/vt/consolemap_deftbl.c
common/drivers/tty/vt/defkeymap.c
common/drivers/video/logo
common/firmware/next_tkey.fw
common/firmware/touchscreen/mxt224s.fw
common/kernel/config_data.h
common/kernel/timeconst.h
common/lib/crc32table.h
common/lib/gen_crc32table
common/scripts/basic/fixdep
common/scripts/bin2c
common/scripts/conmakehash
common/scripts/genksyms/genksyms
common/scripts/genksyms/keywords.hash.c
common/scripts/genksyms/lex.lex.c
common/scripts/genksyms/parse.tab.c
common/scripts/genksyms/parse.tab.h
common/scripts/kallsyms
common/scripts/kconfig/conf
common/scripts/kconfig/zconf.hash.c
common/scripts/kconfig/zconf.lex.c
common/scripts/kconfig/zconf.tab.c
common/scripts/mod/elfconfig.h
common/scripts/mod/mk_elfconfig
common/scripts/mod/modpost
common/scripts/pnmtologo
common/install_dir/lib/*
common/install_dir_compat/lib/*
common/drivers/net/wireless/sd8787

# 'Standard' kernel ignores:

.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.patch
*.gcno

#
# Top-level generic files
#
tags
TAGS
vmlinux
System.map
Module.markers
Module.symvers
!.gitignore
!.mailmap

#
# Generated include files
#
common/include/asm
common/include/asm-*/asm-offsets.h
common/include/config
common/include/linux/autoconf.h
common/include/linux/compile.h
common/include/linux/version.h
common/include/linux/utsrelease.h
common/include/linux/bounds.h
common/include/generated

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#

zImage
Image
*.S
